<h2>Add / Edit Month</h2>
<mat-dialog-content [style.height]="'240px'">
    <form>
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
            <mat-form-field floatPlaceholder="auto">
                <input matInput placeholder="Name" required [(ngModel)]="month" name="name">
            </mat-form-field>
            <mat-form-field>
                <mat-select name="day" placeholder="Number of days" floatPlaceholder="never" required [(ngModel)]="numberOfDays">
                    <mat-option *ngFor="let day of days" [value]="day">
                        {{ day }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions [attr.align]="'end'">
    <button mat-button mat-dialog-close>CANCEL</button>
    <button mat-button (click)="onSave()" color="primary">SAVE</button>
</mat-dialog-actions>