<h2>Add / Edit Month</h2>
<md-dialog-content [style.height]="'240px'">
    <form>
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
            <md-input-container floatPlaceholder="auto">
                <input mdInput placeholder="Name" required [(ngModel)]="month" name="name">
            </md-input-container>
            <md-select name="day" placeholder="Number of days" floatPlaceholder="never" required [(ngModel)]="numberOfDays">
                <md-option *ngFor="let day of days" [value]="day">
                    {{ day }}
                </md-option>
            </md-select>
        </div>
    </form>
</md-dialog-content>
<md-dialog-actions [attr.align]="'end'">
    <div>
        <button md-button md-dialog-close>CANCEL</button>
        <button md-button (click)="onSave()" color="primary">SAVE</button>
    </div>
</md-dialog-actions>