<div [@itemState]>
    <h1>About</h1>

    <p>This site is a work in progress and intended as a playground for learning new technologies.</p>

    <p>Photos are based on challenge lists published at <a href="http://captureyour365.com/captureyour365-photo-challenge-lists/"
            target="_blank">captureyour365.com</a>.</p>

    <mat-list class="tech-list" dense>
        <ng-template let-item let-last="last" ngFor [ngForOf]="list">
            <mat-list-item>
                <mat-icon mat-list-avatar *ngIf="item.done" [style.color]="'green'">done</mat-icon>
                <mat-icon mat-list-avatar *ngIf="!item.done" [style.color]="'red'">close</mat-icon>
                <h4 mat-line>{{item.name}}</h4>
                <p mat-line><a href="{{item.url}}" target="_blank">{{item.url}}</a></p>
            </mat-list-item>
            <mat-divider *ngIf="!last" mat-inset></mat-divider>
        </ng-template>
    </mat-list>
</div>