<h2>Add / Edit Image</h2>
<mat-dialog-content [style.height]="'240px'">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
        <form>
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                <mat-form-field>
                    <mat-select name="day" placeholder="Day of Month" floatPlaceholder="never" required [(ngModel)]="dayOfMonth">
                        <mat-option *ngFor="let day of days" [value]="day">
                            {{ day | dayOfMonth }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field floatPlaceholder="auto">
                    <input matInput placeholder="Prompt" required [(ngModel)]="prompt" name="prompt">
                </mat-form-field>
                <mat-checkbox [(ngModel)]="hidden" name="hidden">Hidden</mat-checkbox>
            </div>
        </form>

        <div>
            <input type="file" multiple (change)="fileChange(input)" #input />
            <mat-card *ngIf="fullImage">
                <img mat-card-image [attr.src]="fullImage" />
            </mat-card>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions [attr.align]="'end'">
    <button mat-button mat-dialog-close>CANCEL</button>
    <button mat-button (click)="onSave()" color="primary">SAVE</button>
</mat-dialog-actions>