<div *ngIf="imageCollection">
    <h4>{{ imageCollection.month }}</h4>

    <ul id="thumbnailsList">
        <li *ngFor="let image of imageCollection.images | ignoreHiddenImage | reverse; let i=index" title="{{ image.prompt }}, {{ image.dayOfMonth }} {{ imageCollection.month }}">
            <img *ngIf="image.url" [src]="image.url" class="tn" width="192" height="144" (click)=setSelectedImage(i)>
            <img *ngIf="!image.url" [src]="comingSoonUrl" class="tn-disabled" width="192" height="144">
        </li>
    </ul>

    <mb-image-overlay *ngIf="opened" (showPrevious)="prevImage()" (showNext)="nextImage()" (close)="closeGallery()" [hasPrevious]="hasPrevious()"
        [hasNext]="hasNext()" [imageText]="getInfoText()" [imageUrl]="getImageUrl()"></mb-image-overlay>
</div>