<div class="overlay">
    <div class="overlay-content">
        <div fxLayoutAlign="center center" class="loading" *ngIf="loading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <a class="close-popup" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </a>
        <a class="nav-left" *ngIf="hasPrevious" (click)="prevImage()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </a>
        <img [class.hidden-image]="loading" [src]="imageUrl" (click)="nextImage()" class="effect" (load)="onLoadComplete()" />
        <a class="nav-right" *ngIf="hasNext" (click)="nextImage()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
        <span class="info-text">{{ imageText }}</span>
    </div>
</div>