<div class="overlay">
    <div class="overlay-content">
        <md-progress-spinner mode="indeterminate" *ngIf="loading" class="loading"></md-progress-spinner>
        <a class="close-popup" (click)="onClose()">
            <md-icon>close</md-icon>
        </a>
        <a class="nav-left" *ngIf="hasPrevious" (click)="prevImage()">
            <md-icon>keyboard_arrow_left</md-icon>
        </a>
        <img [class.hidden-image]="loading" [src]="imageUrl" (click)="nextImage()" class="effect" (load)="onLoadComplete()" />
        <a class="nav-right" *ngIf="hasNext" (click)="nextImage()">
            <md-icon>keyboard_arrow_right</md-icon>
        </a>
        <span class="info-text">{{ imageText }}</span>
    </div>
</div>