<div *ngIf="imageCollection">
    <h4>{{ imageCollection.month }}</h4>

    <ul id="thumbnailsList">
        <li *ngFor="let image of imageCollection.images | ignoreHiddenImage | reverse" title="{{ image.prompt }}, {{ image.dayOfMonth }} {{ imageCollection.month }}">
            <img *ngIf="image.url" [src]="image.url" class="tn" width="192" height="144" (click)=setSelectedImage(image)>
            <img *ngIf="!image.url" [src]="comingSoonUrl" class="tn-disabled" width="192" height="144">
        </li>
    </ul>

    <!--<md-grid-list cols="3" rowHeight="200px" gutterSize="20px">
    <md-grid-tile *ngFor="let image of images | async">
        <md-grid-tile-header>
            {{ image.dayOfMonth }} {{ month | async }} - {{ image.prompt }}
        </md-grid-tile-header>
        <img src="{{ image.url }}" (click)="setSelectedImage(image)">
    </md-grid-tile>
</md-grid-list>-->
</div>