<div class="selectedImage" *ngIf="selectedImage">
    <img src="{{selectedImage.url}}">
    <!--<div class="btn-back" (click)=navigate(false)>
        &lt;
    </div>
    <div class="btn-forward" (click)=navigate(true)>
        &gt;
    </div>-->
    <button md-icon-button class="btn-back">
        <md-icon>chevron_left</md-icon>
    </button>

    <button md-icon-button class="btn-forward">
        <md-icon>chevron_right</md-icon>
    </button>

    <div class="caption">
        <p><strong>{{ selectedImage.prompt }}</strong></p>
        <p>{{ selectedImage.dayOfMonth }}</p>
    </div>
</div>