<div [@itemState]>
  <h1>Manage Gallery</h1>

  <div fxLayout="column" fxLayoutGap="10px">
    <form>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <md-select name="month" [ngModel]="(galleryService.selectedMonth$ | async)?.name">
          <md-option *ngFor="let month of galleryService.months$ | async" [value]="month.name" (click)="onMonthSelected(month)">
            {{month.name}}
          </md-option>
        </md-select>
        <button md-button (click)="onMonthAdded()" color="primary">ADD MONTH</button>
        <button md-button (click)="onMonthEdited()" color="primary" [disabled]="!(galleryService.selectedMonth$ | async)">EDIT MONTH</button>
        <button md-button (click)="onMonthDeleted()" color="primary" [disabled]="!(galleryService.selectedMonth$ | async)">DELETE MONTH</button>
        <button md-button (click)="onImageAdded()" color="primary" [disabled]="!(galleryService.selectedMonth$ | async)">ADD IMAGE</button>
      </div>
    </form>

    <ngx-datatable class="material striped" [rows]="galleryService.imagesForSelectedMonth$ | async" [loadingIndicator]="galleryService.isLoading$ | async"
      [headerHeight]="40" [footerHeight]="0" [rowHeight]="'auto'">
      <ngx-datatable-column name="Image" width='120'>
        <ng-template let-value="row" ngx-datatable-cell-template>
          <img *ngIf="value.thumbnailUrl" [src]="value.thumbnailUrl" height="50" width="50">
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Day of Month" width='120'>
        <ng-template let-value="row" ngx-datatable-cell-template>
          <span>{{ value.dayOfMonth | dayOfMonth }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Visible" width='80'>
        <ng-template let-value="row" ngx-datatable-cell-template>
          <md-icon [style.color]="value.hidden ? 'red' : 'green'">{{ value.hidden ? 'close' : 'done' }}</md-icon>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Prompt" width="150">
        <ng-template let-value="row" ngx-datatable-cell-template>
          <span>{{ value.prompt }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="" width='100'>
        <ng-template let-value="row" ngx-datatable-cell-template>
          <button md-icon-button (click)="onEditImage(value)"><md-icon class="action-button">mode_edit</md-icon></button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="" width='100'>
        <ng-template let-value="row" ngx-datatable-cell-template>
          <button md-icon-button (click)="onDeleteImage(value)"><md-icon class="action-button">delete</md-icon></button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>