<h1>Photo 365</h1>

<div fxLayout="column">
  <mb-gallery *ngFor="let gallery of galleryService.images$ | async" [imageCollection]="gallery" (imageSelected)="onImageSelected(gallery, $event)"></mb-gallery>
</div>

<mb-image-overlay *ngIf="overlayService.isOpen$ | async" (showPrevious)="prevImage()" (showNext)="nextImage()" (close)="closeGallery()"
  [hasPrevious]="overlayService.hasPrevious$ | async" [hasNext]="overlayService.hasNext$ | async" [imageText]="overlayService.imageText$ | async"
  [imageUrl]="overlayService.imageUrl$ | async"></mb-image-overlay>